//////////////////////// Sass Prerequisites //////////////////////////
/* font size */
$em: 16px;

///////////////////// Main Styling /////////////////////////////////
/*///////////////////////// prerequisites /////////////////////////*/
/* import styles */
/* mixins */
@import "_mixins";

/* defaults */
@import "_defaults";
html {
	font-size: $em;
}
.unset {
	margin: 0;
	padding: 0;
}
.page-wrap-1200 {
	display: block;
	max-width: 1200px;
	margin: auto;
}
/* colors */

/* scrollbar */
@import "_scrollbar";
/* end import styles */

/* optional styles */

/* position */

/* arrows */

/* column styles */
.col-6-5-4-3-2-1 {
	display: inline-block;
	width: 16.6666666666668%;
}
.col-5-4-3-2-1 {
	display: inline-block;
	width: 20%;
}
.col-4-3-2-1 {
	display: inline-block;
	width: 25%;
}
.col-3-2-1 {
	display: inline-block;
	width: 33.3333333%;
}
.col-2 {
	display: inline-block;
	width: 50%;
}

/*///////////////////////// content styling /////////////////////////*/
/* prereqs */
.off-black {
	background-color: $offBlack;
}
a {
	color: $lightBlue;
	text-decoration: none;
}
.bold {
	font-weight: bold;
}
.pointer {
	cursor: pointer;
}
.link {
	color: $midBlue;
	&:hover {
		color: $higherMidBlue;
	}
}
.left-justify {
	text-align: left;
}
.center-justify {
	text-align: center;
}
.right-justify {
	text-align: right;
}
.inline-block {
	display: inline-block;
}
.hide {
	display: none;
}
/* body ----------------------------*/
body {
	background-color: white;
	color: rgba(40, 40, 40, 1);
	padding: 0 0 1*$em;
	margin: 0;
}

/*///////////////////////// responsive styling /////////////////////////*/
@include media-max(950px) {
	/* prereqs ----------------------------*/
	.col-6-5-4-3-2-1 {
		width: 20%;
	}
	.col-5-4-3-2-1 {
		width: 25%;
	}
	.col-4-3-2-1 {
		width: 33.3333333%;
	}
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
@include media-max(850px) {
	/* prereqs ----------------------------*/
	.col-6-5-4-3-2-1 {
		width: 25%;
	}
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
@include media-max(750px) {
	/* prereqs ----------------------------*/
	.col-6-5-4-3-2-1 {
		width: 33.3333333%;
	}
	.col-5-4-3-2-1 {
		width: 33.3333333%;
	}
	.col-4-3-2-1 {
		width: 50%;
	}
	.col-3-2-1 {
		width: 50%;
	}
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
@include media-max(650px) {
	/* prereqs ----------------------------*/
	.col-6-5-4-3-2-1 {
		width: 50%;
	}
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
@include media-max(550px) {
	/* prereqs ----------------------------*/
	.col-6-5-4-3-2-1 {
		display: block;
		width: 100%;
	}
	.col-5-4-3-2-1 {
		width: 50%;
	}
	.col-4-3-2-1 {
		display: block;
		width: 100%;
	}
	.col-3-2-1 {
		display: block;
		width: 100%;
	}
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
@include media-max(450px) {
	/* prereqs ----------------------------*/
	.col-5-4-3-2-1 {
		display: block;
		width: 100%;
	}
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
@include media-max(350px) {
	/* prereqs ----------------------------*/
	/* header ----------------------------*/
	/* body ----------------------------*/
	/* footer ----------------------------*/
	/* hover events ----------------------------*/
}
/*///////////////////////// animations /////////////////////////*/