//////////////////////// Sass Prerequisites //////////////////////////
/* font size */
$em: 16px;

///////////////////// Main Styling /////////////////////////////////
/*///////////////////////// prerequisites /////////////////////////*/
/* import styles */
/* mixins */
@import "_mixins";

/* defaults */
@import "_defaults";
html {
	font-size: $em;
}
.hidden {
	display: none;
}
.hidden-force {
	display: none !important;
}
.pointer {
	cursor: pointer;
}
.separator {
	height: .1*$em;
	margin: 1*$em;
	background-color: rgba(100, 200, 250, 1);
}
.unset {
	margin: 0;
	padding: 0;
}
.btn-default {
	display: inline-block;
	position: relative;
	margin: 0 .2*$em;
	padding: .3*$em;
	border-radius: .3*$em;
	background-color: rgba(100, 200, 250, 1);
	cursor: pointer;
	&:hover {
		background-color: $midBlue;
		color: $veryLightBlue;
		*, *:after {
			color: $veryLightBlue;
		}
	}
}
///////////////////////////////////////////////////////////////////////
// Main ///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
#render-document {
	@import "_top_bar";
  & .page {
  	position: relative;
  	padding: 4*$em 1*$em 1*$em 22*$em;
  	max-width: 1600;
  	@import "_side_panel";
  	@import "_main_section";
		&.closed {
			padding: 1*$em 1*$em 1*$em 22*$em;
		}
  }
}

@include media-max("1000px") {
	#render-document {
	  & .page {
	  	padding: 4*$em 1*$em 1*$em 1*$em;
			&.closed {
				padding: 1*$em 1*$em 1*$em 1*$em;
			}
	  }
	}
}
