/* font size */
/*///////////////////////// prerequisites /////////////////////////*/
/* import styles */
/* mixins */
/* defaults */
*, *:before, *:after { box-sizing: border-box; font-family: sans-serif; transition: 0.5s all; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; vertical-align: top; }

html { font-size: 16px; }

.hidden { display: none; }

.hidden-force { display: none !important; }

.pointer { cursor: pointer; }

.separator { height: 1.6px; margin: 16px; background-color: #64c8fa; }

#render-document .page { position: relative; padding: 16px 16px 16px 352px; max-width: 1600; }

#render-document .page .side-panel { position: absolute; top: 16px; left: 16px; width: 320px; padding: 16px; border-radius: 16px; background-color: #dcf0fa; }

#render-document .page .side-panel .profile-image { position: relative; padding: 0 16px; }

#render-document .page .side-panel .profile-image > div { padding: 8px; border-radius: 12.8px; background-color: #64c8fa; }

#render-document .page .side-panel .profile-image > div img { display: block; max-width: 100%; max-height: 100%; border-radius: 8px; }

#render-document .page .side-panel .profile-image > div .channel-status { display: inline-block; max-width: 50%; text-align: center; }

#render-document .page .side-panel .profile-image > div .channel-status h3 { padding: 0; margin: 0; color: #e8f8ff; }

#render-document .page .side-panel .profile-image > div .channel-options { display: inline-block; max-width: 50%; }

#render-document .page .side-panel .profile-image > div .channel-options .message a { color: #e8f8ff; text-decoration: none; font-weight: bold; }

#render-document .page .side-panel .channel-name { text-align: center; }

#render-document .page .side-panel .channel-name h3 { margin: 16px 0 0; }

#render-document .page .side-panel .channel-bio { padding: 0 8px; }

#render-document .page .side-panel .channel-bio p { padding: 0; margin: 0; }

#render-document .page .side-panel .social-media { padding: 8px; }

#render-document .page .side-panel .social-media .title { text-align: center; }

#render-document .page .side-panel .social-media .title h4 { padding: 0; margin: 0; }

#render-document .page .side-panel .social-media .icons { padding: 8px; }

#render-document .page .side-panel .social-media .icons .icon { display: inline-block; width: 25%; padding: 8px; }

#render-document .page .side-panel .social-media .icons .icon a img { max-width: 100%; max-height: 100%; }

#render-document .page .main-section { position: relative; width: 100%; padding: 16px; border-radius: 16px; background-color: #dcf0fa; }

#render-document .page .main-section .header .profile-image { display: inline-block; width: 80px; }

#render-document .page .main-section .header .profile-image .image-container > div { width: 64px; padding: 3.2px; border-radius: 8px; background-color: #64c8fa; }

#render-document .page .main-section .header .profile-image .image-container > div img { max-width: 100%; max-height: 100%; display: block; border-radius: 8px; }

#render-document .page .main-section .header .stream-text { display: inline-block; }

#render-document .page .main-section .header .stream-text .title h1 { padding: 0; margin: 0; font-size: 40px; }

#render-document .page .main-section .header .stream-text .game .user { font-weight: bold; }

#render-document .page .main-section .header .stream-text .game .user a { color: #19191f; text-decoration: none; font-weight: bold; }

#render-document .page .main-section .stream-section { position: relative; max-height: 544px; padding: 0 352px 0 0; margin: 16px 0; }

#render-document .page .main-section .stream-section .video-embed { width: 100%; }

#render-document .page .main-section .stream-section .video-embed iframe { width: 100%; height: 100%; }

#render-document .page .main-section .stream-section .chat-embed { position: absolute; top: 0px; right: 0px; width: 336px; }

#render-document .page .main-section .stream-section .chat-embed iframe { width: 100%; height: 100%; }

#render-document .page .main-section .stream-section.theater { position: fixed; top: 0; left: 0; width: 100%; height: 100%; max-height: 100%; padding-top: 32px; margin: 0; background-color: #9be0ff; }

#render-document .page .main-section .stream-section.theater .chat-embed { width: 352px; height: 100%; }

#render-document .page .main-section .stream-section.theater + .options-belt .auth-needed { position: fixed; top: 0; left: 0; }

#render-document .page .main-section .stream-section.hide-chat { padding-right: 0; }

#render-document .page .main-section .stream-section.hide-chat .chat-embed { width: 0; }

#render-document .page .main-section .options-belt .auth-needed { display: inline-block; width: 50%; text-align: left; }

#render-document .page .main-section .options-belt .auth-needed > div { display: inline-block; margin: 0 3.2px; padding: 4.8px; border-radius: 4.8px; background-color: #64c8fa; cursor: pointer; }

#render-document .page .main-section .options-belt .auth-needed > div:hover { background-color: #00a2eb; color: #e8f8ff; }

#render-document .page .main-section .options-belt .auth-needed > div span { pointer-events: none; }

#render-document .page .main-section .options-belt .auth-needed > div .notification-option { cursor: pointer; }

#render-document .page .main-section .options-belt .no-auth { display: inline-block; width: 50%; text-align: right; }

#render-document .page .main-section .options-belt .no-auth .wraper { display: inline-block; padding: 8px; border-radius: 4.8px; background-color: #c8dcfa; }

#render-document .page .main-section .options-belt .no-auth .wraper > div { display: inline-block; }

#render-document .page .main-section .options-belt .no-auth .wraper > div .counter { margin: 0 8px; }

#render-document .page .main-section .channel-panels .title h1 { padding: 0; margin: 0; }

#render-document .page .main-section .channel-panels .panel { display: inline-block; width: 33.3333333%; padding: 8px; }

#render-document .page .main-section .channel-panels .panel > div { height: 240px; background-color: #64c8fa; overflow: auto; }

#render-document .page .main-section .channel-panels .panel > div .image { padding: 8px; background-color: #3ca0d2; }

#render-document .page .main-section .channel-panels .panel > div .image img { max-width: 100%; max-height: 100%; }

#render-document .page .main-section .channel-panels .panel > div .body { max-width: 100%; max-height: 100%; padding: 8px; }

#render-document .page .main-section .channel-past-broadcasts .title h1 { padding: 0; margin: 0; }

#render-document .page .main-section .channel-past-broadcasts .video { display: inline-block; width: 33.3333333%; padding: 8px; text-decoration: none; color: #19191f; }

#render-document .page .main-section .channel-past-broadcasts .video > a { display: block; height: 240px; background-color: #64c8fa; overflow: auto; }

#render-document .page .main-section .channel-past-broadcasts .video .video-info { display: block; }

#render-document .page .main-section .channel-past-broadcasts .video .video-info span { display: inline-block; }

#render-document .page .main-section .channel-past-broadcasts .video .video-info span a { margin: 0 6.4px 0 0; text-decoration: underline; }
